
.pro{
margin-top: 10px;
}
/* /* .iti--allow-dropdown {
    width: 100%;
    padding: 0;
  } */
  /* .iti--allow-dropdown input{
    max-width: 100%;
  }
  .custom ng-pristine ng-valid ng-touched
  {
    padding-left: 203px;
  }  */
