<section class="vh-100" style="background-color: #e6545b">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
                <img src="\assets\redbus_logo.png" style="width:100px">&nbsp;&nbsp;&nbsp;&nbsp;

              <h3 class="mb-5">Forget Password</h3>
  <div *ngIf="forget">
              <hr class="my-4">
              <button class="btn btn-lg btn-block" style="background-color: #e6545b;color:white"
                type="submit" (click)="email()"> OTP from Email</button> &nbsp;
              <button class="btn btn-lg btn-block  "  style="background-color: #3b5998;;color:white"
                type="submit" (click)="sms()">OTP from SMS</button>
                </div>
                <div *ngIf="emailform">
                <hr class="my-4">

                <form [formGroup]="forgetform">
                    <div class="form-outline mb-4">
                        <input type="email"   formControlName="email" id="email" class="form-control" placeholder="Enter your Email id" (keyup)="checkEmail()">
                 <div *ngIf = "forgetform.controls['email'].hasError('required') && forgetform.controls['email'].touched" class="alert alert-danger err">
                  Email Name is Mandatory
                 </div>
                 <div  *ngIf = "forgetform.controls['email'].hasError('pattern') && forgetform.controls['email'].touched"class="alert alert-danger err pro">
         Invalid Email
               </div>
               <div  *ngIf = "emailcheck"class="alert alert-danger err pro">
                No user Found
                      </div>
               
                    </div>    
                    
    
          
  
     
              <button class="btn btn-primary btn-lg btn-block" type="submit"style="color:white;background-color:#e6545b;" (click)="getotp()">Contiune</button>
        </form>
    </div>
    <div *ngIf="smsform">
        <hr class="my-4">

        <form [formGroup]="phoneform">
            <div class="form-outline mb-4">
                <input type="text"   formControlName="phone" id="phone" class="form-control" placeholder="Enter your Mobile Number"  (keyup)="checkphone()">
         <div *ngIf = "phoneform.controls['phone'].hasError('required') && phoneform.controls['phone'].touched" class="alert alert-danger err pro">
          Mobile number  is Mandatory
         </div>
     
       <div  *ngIf = "phonecheck"class="alert alert-danger err pro">
        No user Found
              </div>
       
            </div>    
            

  


      <button class="btn btn-primary btn-lg btn-block" type="submit"style="color:white;background-color:#e6545b;" (click)="getotp1()">Contiune</button>
</form>
</div>
<div *ngIf="otpformvisible">
    <hr class="my-4">

    <form [formGroup]="otpform">
        <div class="form-outline mb-4">
            <input type="text"id="ans1" formControlName="otpval" class="form-control" placeholder="Enter your OTP here" (keyup)="correctotp()">
            <div *ngIf = "otpform.controls['otpval'].hasError('required') && otpform.controls['otpval'].touched" class="alert alert-danger err pro">
               OTP is Mandatory
              </div>
        
            <div  *ngIf = "incorrectotp" class="alert alert-danger err pro">
Incorrect OTP                                    
</div>

        </div>    
        




  <button class="btn btn-primary btn-lg btn-block" type="submit"style="color:white;background-color:#e6545b;" [disabled]="otpform.invalid || incorrectotp " routerLink="/home">Login</button>
</form>
</div>
<div *ngIf="otpformvisible1">
    <hr class="my-4">

    <form [formGroup]="otpform1">
        <div class="form-outline mb-4">
            <input type="text"id="ans1" formControlName="otpval1" class="form-control" placeholder="Enter your OTP here" (keyup)="correctotp1()">
            <div *ngIf = "otpform1.controls['otpval1'].hasError('required') && otpform1.controls['otpval1'].touched" class="alert alert-danger err pro">
               OTP is Mandatory
              </div>
        
            <div  *ngIf = "incorrectotp1" class="alert alert-danger err pro">
Incorrect OTP                                    
</div>

        </div>    
        




  <button class="btn btn-primary btn-lg btn-block" type="submit"style="color:white;background-color:#e6545b;" [disabled]="otpform1.invalid || incorrectotp1" routerLink="/home">Login</button>
</form>
</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>















<!-- 

<section class="vh-100 gradient-custom">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card  text-black" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4" style="    padding-bottom: 2rem!important;
              " >
  
                <img src="\assets\redbus_logo.png" style="width:100px">&nbsp;&nbsp;&nbsp;
                <p class="text-balck mb-5" style="font-weight: bold;font-size:24px">forget Password</p>
                <div class="form-outline form-white mb-4">

                <button class="btn btn-outline btn-lg " type="submit" style="color:white;background-color:#e6545b;">OTP From Email</button><br/>
                <button class="btn btn-outline btn-lg " type="submit" style="color:white;background-color:#e6545b;">OTP From SMS</button>
</div>

                <form [formGroup]="forgetform">
                <div class="form-outline form-white mb-4">
                    <input type="email"   formControlName="email" id="email" class="form-control" placeholder="Enter your Email id" (keyup)="checkEmail()">
             <div *ngIf = "forgetform.controls['email'].hasError('required') && forgetform.controls['email'].touched" class="alert alert-danger err">
              Email Name is Mandatory
             </div>
             <div  *ngIf = "forgetform.controls['email'].hasError('pattern') && forgetform.controls['email'].touched"class="alert alert-danger err">
     Invalid Email
           </div>
           <div  *ngIf = "emailcheck"class="alert alert-danger err">
            No user Found
                  </div>
           
                </div>
   <button class="btn btn-outline btn-lg px-5" type="submit" style="color:white;background-color:#e6545b;">Contiune</button>
  
    
  </form>
              </div>

  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->